*{
   margin: 0;
   padding: 0;
}
body{
    background-color: darkgray;
}
h2{
    background-color: darkslategray;
    height: 4rem;
    font-size: 30px;
    text-align: center;
    line-height: 4rem;
    color: aliceblue;
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}
.container{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.container:hover{
    background-color: black;
}
.container:active{
    opacity: .5;
}
img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 2px solid black;

}
.score_board{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.score{
    text-align: center;
    font-size: x-large;
}
#user_score,#comp_score{
    font-size: 3.5rem;
}
.mess_container{
    text-align: center;
    margin-top: 2rem;
}
#mess{

   color: white;
   font-size: xx-large;
   background-color: darkgoldenrod;
   display: inline-block;
   padding: .5rem;
   border-radius: 1rem;
}

